/*font Variables*/
$primary-font: 'Roboto', sans-serif;
$title-font: 'Rubik', sans-serif;

/*Color Variables*/
$primary-color: #FF0066;
$primary-color2: #C62368;
$title-color: white;
$text-color: white !important;

/*=================== fonts ====================*/
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500|Rubik:500,700');
